
<div id="" class=" ">
    <div class="">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label ng-bind="'task.title.label' | translate" class="control-label col-xs-2"></label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="task-title" ng-model="task.name" placeholder="Enter Task Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label ng-bind="'task.description.label' | translate" class="control-label col-xs-2"></label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="task-desc" ng-model="task.description"  placeholder="Enter task description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label ng-bind="'task.start.date.label' | translate" class="control-label col-xs-2"></label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="task-start-date" ng-model="task['start-date']"  placeholder="Enter task start date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label ng-bind="'task.end.date.label' | translate" class="control-label col-xs-2"></label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="task-end-date" ng-model="task['end-date']"  placeholder="Enter task end date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label ng-bind="'task.status.label' | translate" class="control-label col-xs-2"></label>
                        <div class="col-xs-10">
                            <select ng-model="task.status" class="form-control">
                                <option value="">-please select task-</option>
                                <option ng-repeat="taskStatus in getStatusesInAddModal"
                                        value="{{taskStatus}}">{{taskStatus}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label ng-bind="'task.priority.label' | translate" class="control-label col-xs-2"></label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="task-priority" ng-model="task.priority" placeholder="Enter Task priority">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="closeModal()" class="btn btn-default"><span ng-bind="'modal.cancel.button' | translate"></span></button>
                <button type="button" ng-model="task" ng-click="saveTask(task)" class="btn btn-success"><span  ng-bind="'modal.save.button' | translate"></span></button>
            </div>
        </div>
    </div>
</div>