<div class="container mainDiv">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-7">
            <h1  translate="app.head" class="app-heading"></h1>
            <span class="manageLabel text-left" translate="app.sub.head"></span><br/>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-5 col-sm-offset-0 col-md-offset-4 text-center i18n">
            <a href="" ng-click="dc.changeLanguage('en')"> <span translate="app.english"></span> </a>| <a href="" ng-click="dc.changeLanguage('es')"> <span translate="app.spanish">Spanish</span> </a>

        </div>
        <div class="col-md-2"><a href="/logout"><i class="fa fa-sign-out fa-1x">signOut</i></a></div>
    </div>
    <hr class="headerHrLine"/>
    <div class="row select-parent-div">
        <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="col-md-10 col-sm-8  col-xs-12">
                <ui-select  ng-model="dc.selectStatus" theme="bootstrap">
                    <ui-select-match>{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="taskStatus in dc.getStatuses  track by $index">
                        {{taskStatus}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="col-md-12 col-sm-8  col-xs-12">
                <ui-select multiple ng-model="dc.selectPriority">
                    <ui-select-match placeholder="Select priority...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="taskPriority in dc.getPriorities | filter:$select.search">{{taskPriority}}</ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-xs-3 text-right addTaskdiv ">
            <a href="/chart"> show tasks on charts</a>
        </div>

        <div class="col-lg-5 col-md-5 col-xs-6 text-right addTaskdiv ">
            <button type="button" class="btn btn-primary" ng-click="addNewTask()">
                <i class="fa fa-plus"></i> <span ng-bind="'dashboard.add.task.btn' | translate"></span>
            </button>
        </div>
    </div>
    <hr/>
    <all-tasks-directive></all-tasks-directive>

    <hr class="headerHrLine">
    <div class="row">
        <div class="col-md-offset-8 col-sm-offset-6 cl-sm-6 col-sm-4 col-xs-12 text-right"><h2> Powered by SemanticBits</h2></div>

    </div>
</div>