<div class="taskDetails" ng-class="{'open-status':task.status==='OPENED','inprogress-status':task.status==='INPROGRESS','completed-status':task.status==='COMPLETED','invalid-status':task.status==='INVALID','rejected-status':task.status==='REJECTED'}">
    <div class="row">
        <div class="col-md-6  col-sm-6 col-xs-6 text-left"><h3 class="task-title">{{task.name}}</h3></div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center" ng-show="isadmin=='true'">
            <a href="#" ng-click="removeTaskDir(task)"> <i class="fa fa-trash fa-2x" uib-popover="Delete Task" popover-trigger="'mouseenter'"></i></a>

          <input ng-show="task.status!=='COMPLETED'" type="checkbox"  ng-click="changeTaskStatusAsComplete(task)" class="task-status-checkbox" uib-popover="completed task" popover-trigger="'mouseenter'">
           <!-- <a href="#" ng-click="editTask(task)"> <i class="fa fa-pencil fa-2x"></i></a>-->
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 taskinfo">
            <label ng-bind="'task.description.label' | translate"></label>:
            <span>{{task.description}} </span><br>
            <label ng-bind="'task.start.date.label' | translate"></label>:
            <span>{{task['start-date']}} </span><br>
            <label ng-bind="'task.end.date.label' | translate"></label>:
            <span>{{task['end-date']}} </span><br>
            <label ng-bind="'task.status.label' | translate"></label>:
            <span>{{task.status}} </span><br>
            <label ng-bind="'task.priority.label' | translate"></label>:
            <span>{{task.priority}} </span><br>
        </div>
    </div>
</div>
